<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <div th:replace="fragments/header :: header-meta"/>
    <div th:replace="fragments/header :: header-css"/>
    <link th:href="@{css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="POST">
                        <fieldset>

                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid username and password.
                                </div>
                            </div><div th:if="${message}">
                                <div class="alert alert-danger" th:text="${message}">
                                    Invalid username and password.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>


                            <div class="form-group">
                                Email
                                <input id="username" name="username" class="form-control" type="email" />
                            </div>
                            <div class="form-group">
                                Password
                                <input id="password" class="form-control" name="password" type="password" value=""/>
                            </div>
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Login" id="loginbtn"/>
                        </fieldset>
                    </form>
                    <div style="margin-top:8px;"><a th:href="@{/register}">Register</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: js"/>

</body>
</html>