<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <div th:replace="fragments/header :: header-meta"/>
    <div th:replace="fragments/header :: header-css"/>

    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card panel-login">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="active" id="student-form-link">Student</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" id="teacher-form-link">Teacher</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="student-form" th:action="@{/students}" th:object="${student}"
                                  method="post" role="form"
                                  style="display: block;">
                                <div class="form-group">

                                    <label th:for="surname" class="control-label">Surname</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{surname}" id="student-surname" tabindex="1"
                                               th:class="${#fields.hasErrors('surname')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Surname" th:maxlength="60" th:required="required">
                                        <div th:for="surname" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('surname')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="name" class="control-label">Name</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{name}" id="student-name" tabindex="2"
                                               th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Name" th:maxlength="60" th:required="required">
                                        <div th:for="name" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('name')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="patronymic" class="control-label">Patronymic</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{patronymic}" id="student-patronymic" tabindex="3"
                                               th:class="${#fields.hasErrors('patronymic')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="patronymic" th:maxlength="60" th:required="required">
                                        <div th:for="Patronymic" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('patronymic')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="birthday" class="control-label">Birthday</label>
                                    <div class="input-group">
                                        <input type="date" th:field="*{birthday}" id="student-birthday" tabindex="4"
                                               th:class="${#fields.hasErrors('birthday')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Birthday" th:required="required">
                                        <div th:for="birthday" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('birthday')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="telephone" class="control-label">Telephone</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{telephone}" id="student-telephone" tabindex="5"
                                               th:class="${#fields.hasErrors('telephone')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Telephone" th:maxlength="13" th:required="required">
                                        <div th:for="telephone" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('telephone')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="address" class="control-label">Address</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{address}" id="student-address" tabindex="6"
                                               th:class="${#fields.hasErrors('address')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Address" th:maxlength="255" th:required="required">
                                        <div th:for="address" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('address')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label th:for="group" class="control-label">Group</label>

                                    <div class="input-group">
                                        <input type="hidden" th:field="*{groupId}" id="student-group-id">
                                        <input type="text" th:field="*{groupName}" id="student-group" tabindex="6"
                                               th:class="${#fields.hasErrors('groupName')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Group" th:maxlength="255" th:required="required">
                                        <div th:for="group" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('groupName')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label th:for="email" class="control-label">Email</label>

                                    <div class="input-group">
                                        <input type="email" th:field="*{email}" id="student-email" tabindex="9"
                                               th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="email" th:maxlength="60" th:required="required">
                                        <div th:for="Email" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('email')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="password" class="control-label">Password</label>

                                    <div class="input-group">
                                        <input type="password" th:field="*{password}" id="student-password"
                                               tabindex="10"
                                               th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Password" th:maxlength="60" th:required="required">
                                        <div th:for="password" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('password')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="confirmPassword" class="control-label">Confirm Password</label>

                                    <div class="input-group">
                                        <input type="password" th:field="*{confirmPassword}"
                                               id="student-confirmPassword" tabindex="11"
                                               th:class="${#fields.hasErrors('confirmPassword')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Confirm Password" th:maxlength="60" th:required="required">
                                        <div th:for="confirmPassword" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('confirmPassword')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <input
                                        type="hidden"
                                        th:name="${_csrf.parameterName}"
                                        th:value="${_csrf.token}"/>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="student-register-submit"
                                                   tabindex="100" class="form-control btn btn-register"
                                                   value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="teacher-form" th:action="@{/teachers}" th:object="${teacher}"
                                  method="post" role="form" style="display: none;">
                                <div class="form-group">

                                    <label th:for="surname" class="control-label">Surname</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{surname}" id="teacher-surname" tabindex="1"
                                               th:class="${#fields.hasErrors('surname')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Surname" th:maxlength="60" th:required="required">
                                        <div th:for="surname" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('surname')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="name" class="control-label">Name</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{name}" id="teacher-name" tabindex="2"
                                               th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Name" th:maxlength="60" th:required="required">
                                        <div th:for="name" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('name')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="patronymic" class="control-label">Patronymic</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{patronymic}" id="teacher-patronymic" tabindex="3"
                                               th:class="${#fields.hasErrors('patronymic')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="patronymic" th:maxlength="60" th:required="required">
                                        <div th:for="Patronymic" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('patronymic')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="birthday" class="control-label">Birthday</label>
                                    <div class="input-group">
                                        <input type="date" th:field="*{birthday}" id="teacher-birthday" tabindex="4"
                                               th:class="${#fields.hasErrors('birthday')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Birthday" th:required="required">
                                        <div th:for="birthday" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('birthday')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="telephone" class="control-label">Telephone</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{telephone}" id="teacher-telephone" tabindex="5"
                                               th:class="${#fields.hasErrors('telephone')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Telephone" th:maxlength="13" th:required="required">
                                        <div th:for="telephone" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('telephone')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="address" class="control-label">Address</label>

                                    <div class="input-group">
                                        <input type="text" th:field="*{address}" id="teacher-address" tabindex="6"
                                               th:class="${#fields.hasErrors('address')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Address" th:maxlength="255" th:required="required">
                                        <div th:for="address" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('address')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label th:for="email" class="control-label">Email</label>

                                    <div class="input-group">
                                        <input type="email" th:field="*{email}" id="teacher-email" tabindex="9"
                                               th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="email" th:maxlength="60" th:required="required">
                                        <div th:for="Email" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('email')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="password" class="control-label">Password</label>

                                    <div class="input-group">
                                        <input type="password" th:field="*{password}" id="teacher-password"
                                               tabindex="10"
                                               th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Password" th:maxlength="60" th:required="required">
                                        <div th:for="password" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('password')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label th:for="confirmPassword" class="control-label">Confirm Password</label>

                                    <div class="input-group">
                                        <input type="password" th:field="*{confirmPassword}"
                                               id="teacher-confirmPassword" tabindex="11"
                                               th:class="${#fields.hasErrors('confirmPassword')} ? 'form-control is-invalid' : 'form-control'"
                                               placeholder="Confirm Password" th:maxlength="60" th:required="required">
                                        <div th:for="confirmPassword" class="invalid-feedback"
                                             th:each="err : ${#fields.errors('confirmPassword')}"
                                             th:text="${err}"></div>
                                    </div>
                                </div>
                                <input
                                        type="hidden"
                                        th:name="${_csrf.parameterName}"
                                        th:value="${_csrf.token}"/>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="teacher-register-submit"
                                                   tabindex="100" class="form-control btn btn-register"
                                                   value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: js"/>

<script th:src="@{/js/register.js}"></script>
<script th:src="@{/js/jquery/jquery-ui.min.js}"></script>

</body>
</html>